body {
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", "Noto Sans", Meiryo, sans-serif;
}

.post__content {
    p, ul, ol {
        line-height: 1.6em;
    }
}

code {
    font-family: Menlo, Monaco, 'Courier New', monospace !important;
}

div.quote-caption {
    font-size: 0.7em;
    text-align: right;
    font-style: italic;
}

ul.archive__list {
    margin: 0;
}
.archive__list-title {
    text-transform: none !important;
}

h1, h2, h3, h4, h5, h6 {
    text-transform: none !important;
}

div.sidebar__introduction-title {
    text-transform: none !important;
    margin: 24px;
}
.about .read-more {
    text-align: right;
}
.about .post-title {
    font-weight: 600;
}

.about p.bottom-link {
    text-align: right;
}

img.home-banner {
    width: 95%;
    max-width: 480px;
    border-radius: 4px;
    margin: 10px auto;
    display: block;
}

img[src$='#center'] {
    display: block;
    margin: 0.7rem auto;
}

img[src$='#floatleft'] {
    float:left;
    margin: 0.7rem;
}

img[src$='#floatright'] {
    float:right;
    margin: 0.7rem;
}

div.simple-table table {
    border-top: 1px solid #e2e2e2;
    border-left: 1px solid #e2e2e2;
    width: 100%;
    margin-bottom:15px;
    margin-left: auto;
    margin-right: auto;
}

div.simple-table table th {
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
}
div.simple-table table td {
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    padding:10px 0.2em;
}
div.simple-table table th {
    background-color: #f3f0f0;
}
