{{ define "main" }}
<div class="post">
  <div class="post__content about">

  <h2><a name="about"></a>About</h2>
  <ul>
    <li>Programmer</li>
    <li>Co-author of <a href="https://amzn.to/365mIi2">Web制作者のためのGitHubの教科書</a></li>
    <li>Likes
      <ul>
        <li>Sauna</li>
        <li>Camp</li>
        <li>My son</li>
      </ul>
    <li>Contents
      <ul>
        <li><a href="/blog">Kwappa談話室</a> (This Blog / Not Tech)</li>
        <li><a href="http://randd.kwappa.net">Kwappa研究開発室</a> (Tech)</li>
        <li><a href="http://randd.kwappa.net/publishing">河童書房</a> (Self-Publishing)</li>
        <li><a href="https://kwappa.hatenablog.com">Kwappaラクガキ帳</a> (Misc)</li>
      </ul>
    </li>
  </ul>

  <h2><a name="contacts"></a>Contacts</h2>
  <ul>
    <li>Mail : `kwappa.856@gmail.com`</li>
    <li>X : <a href="http://twitter.com/kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>facebook : <a href="http://www.facebook.com/kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>Bluesky : <a href="https://bsky.app/profile/kwappa.bsky.social" target="_blank" rel="noreferrer noopener">@kwappa.bsky.social</a></li>
    <li>GitHub : <a href="https://github.com/kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>LinkedIn : <a href="http://www.linkedin.com/in/kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>YOUTRUST : <a href="https://youtrust.jp/users/dd28e55806a491b626f3583cc308af42" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>forkwell : <a href="https://portfolio.forkwell.com/@kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>Speaker Deck : <a href="https://speakerdeck.com/kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>slideshare : <a href="http://www.slideshare.net/kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>Qiita : <a href="http://qiita.com/users/kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>Zenn : <a href="https://zenn.dev/kwappa" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>RubyGems.org : <a href="https://rubygems.org/profiles/47624" target="_blank" rel="noreferrer noopener">@kwappa</a></li>
    <li>mixi : <a href="http://mixi.jp/show_profile.pl?id=176118" target="_blank" rel="noreferrer noopener">176118</a></li>
  </ul>

  <h2>Recent Articles</h2>
  {{ range first 5 .Site.RegularPages }}
    {{ if eq .Type "post"}}
      <div>
        <h3 class="post-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        {{ .Summary }}
        {{ if .Truncated }}
          <div class="read-more">
            <a href="{{ .RelPermalink }}">Read More…</a>
          </div>
        {{ end }}
      </div>
    {{ end }}
  {{ end }}

  <p class="bottom-link">
    <a href="/blog">all articles</a>
  </p>

  </div>
</div>

{{ end }}
