a:link		{ color: forestgreen; }
a:hover		{ color: darkseagreen; }
a:visited	{ color: green; }

body {
    margin:             0 auto;
	text-align:			center ;
	background-color:	#111111;
	width:				960px ;
	color:				aliceblue;
}

.header img {
	float:				left ;
	margin-left:		  16px ;
}

div.header {
	width:				 960px ;
	height:				 108px ;
	text-align:			right ;
	margin-bottom:		  24px ;
	background-color:	#000000 ;
}

.header H1 {
	padding:			   0px ;
	margin:				   0px ;
	margin-right:		  24px ;
	float:				right ;
}

div.wrap {
	text-align:			 left ;
	width:				 960px ;
	background-color:	#000000 ;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

div.content-body {
	width:				 100% ;
}

div.pain_left {
	width:				 640px ;
	float:				left ;
	margin-left:          16px ;
	background-color:	#222222 ;
	text-align:			left ;
	padding-top:		  16px ;
	padding-bottom:		  16px ;

}

.pain_left H1 {
	width:				 480px ;
	background-color:	#000000 ;
	font-size:			   2.0em ;
	padding-left:		  16px ;
	border-left:		  24px solid darkgreen ;
	-moz-border-radius:    0px 8px 8px 0px ;
}

.pain_left P {
	margin:				   1em   16px ;
}

div.pain_right {
	width:				 256px ;
	float:				right ;
	background-color:	#222222 ;
	text-align:			left ;
	padding-top:		  4px ;
	padding-bottom:		  8px ;
	margin-right:		  16px ;
}

div.pain_right_item {
    text-align:			center ;
}

div.cookpadjobs {
    padding: 8px 0;
}

div.dwango_jobs {
    background-color: white;
    text-align: center;
    border: 1px solid #1566AD;
    width: 200px;
    margin:8px auto;
    padding:4px 0;
}

div.dwango_jobs a {
    color: black !important;
    text-shadow: none;
    margin: 4px;
    text-decoration: none;
    font-size:   0.8em;
    line-height: 1.1em;
}

div.dwango_job_banner {
    padding-bottom: 8px;
}

div.ghbook {
    font-weight: normal;
    font-size: 0.8em;
    padding-top: 16px;
    line-height: 1.1em;
}

.pain_right H2 {
	background-color:	#000000 ;
	color:				#cccccc ;
	font-weight:		bold ;
	font-size:			0.9em ;
	width:				 200px ;
	padding:			   2px ;
	padding-left:		   8px ;
	text-align:			left ;
	border-left:		  16px solid darkgreen ;
	margin:				   0px ;
	margin-top:			   8px ;
}
